<div class="research-themes">

    <div class="themes-container">
        <!-- Audio/Speech -->
        <div class="theme-box theme-speech">
            <h3>Human Speech Communication</h3>
        </div>

        <!-- Audio/Acoustics -->
        <div class="theme-box theme-acoustics">
            <h3>Computational Acoustics and Spatial Audio Perception</h3>
        </div>

        <!-- Audio/Visual Overlap -->
        <div class="theme-box theme-overlap">
            <h3>Media Compression and Streaming Pipelines</h3>
        </div>

        <!-- Image/Video -->
        <div class="theme-box theme-video">
            <h3>Digital Cinema and Restoration</h3>
        </div>
    </div>
</div>
